<html>
    <head>
        <title>Sunshine Benny</title>
    </head>
    <body>
        <p> This is Sunshine Benny </p>
        {% load static %}
        <img src="/static/benny2.JPG" width="350" height="500" alt="Benny"/>
        <div>
            <h1><a href="/">Benny is a very nice boy</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>posted: {{ post.published_date }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                {% block content %}
                <img src="{{ post.photo.url }}"" width="350" height="500"/>
                {% endblock %}
            </div>
        {% endfor %}        
    </body>    
</html>